<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/bootstrap.css')}}">
	<link rel="stylesheet" type="text/css" href="{{=URL('static','css/style.css')}}">
	<h1><font color="white">CODE SCHOOL</font></h1>
	<style>
	body 
	</style>
</head>
<body background="{{=URL('static','images/lap.jpg')}}"><font color="white">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p>OUR MISSION
				At CODE SCHOOL, we mentor individuals into professional programmers in an immersive classroom setting. Located in Madina, Accra, we offer a full-time, 12-week Web Development course designed to prepare students for a career in software development. 
				<br><br>
				OUR INSTRUCTORS
				Our full-time instructors are industry experts and passionate educators who are committed to the success of every single student. Our courses are structured to provide in-person, one-on-one mentorship and guidance. 
				<br><br>
				OUR CURRICULUM
				Our structured curriculum is designed with input from Upstate employers to give students a full-stack foundation and to prepare them for careers in technology - right here at home or wherever their career path may go.</p>
			</div>
			<div class="col-md-6 form-div">
				<form action="{{=URL('store')}}" method="post">
					<div class="form-group">
						<label for="firstname">First Name</label>
						<input type="text" class="form-control" name="firstname">
					</div>
					<div class="form-group">
						<label for="lastname">Last Name</label>
						<input type="text" class="form-control" name="lastname">
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" class="form-control" name="email">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" name="password">
					</div>
					<div>
						<input type="submit" class="btn btn-primary" value="Save User">
						<a href="{{=URL('login.html')}}">Login</a>
					</div>
				</form>
			</div>	
		</div>
	</div>
	<script src="{{=URL('static','js/jquery.js')}}"></script>	
	<script src="{{=URL('static','js/bootstrap.js')}}"></script></font>
</body>
</html>