.form-div {
	margin-top: 75px;
	border: 1px solid #333;
	padding: 30px;
}

.form-div1 {
	margin-top: 30px;
	border: 1px solid #333;
	padding: 20px;
}

.background {
   background-image: "{{=URL('static','images/bd.jpg')}}">;
   height: 700px;
}
